
@{
    ViewData["Title"] = "Index";
}

<h2 ><a asp-action="Docentes" asp-controller="Docentes">docentes</a></h2>

<h2><a asp-action="Alumnos" asp-controller="Alumnos">Alumnos</a></h2>

<h2><a asp-action="Editar" asp-controller="Docentes">Editar</a></h2>