@model Temas
@{
    ViewData["Title"] = "EditarTemass";
  
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditarTemas1</title>
</head>
<body>

    <form method="post" asp-action="EditarTemass" asp-controller="Temas">
        <div>
            <h2>Editar Temas</h2><br />
            @*<label>Nombre Docente:</label><br />*@

            <input type="hidden" id="id" asp-for="Id" />

            <input type="text" id="Encabezado" asp-for="@Model.Encabezado" placeholder="@Model.Encabezado" />


            <br />


            <input type="submit" value="Agregar" />
            <button asp-action="Temas">Cancelar</button>
        </div>
    </form>
</body>
</html>