@model Temas
@{
    ViewData["Title"] = "EditarTemass";
  
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditarTemas1</title>
</head>
<body>
    <style>
        body {
            background: #2f313d;
            font-family: sans-serif;
            font-size: 20px;
        }

        h2 {
            color: whitesmoke;
            font-size: 30px;
            text-align: center;
            margin-bottom: 10px;
        }

        form {
            width: 50%;
            position: absolute;
            left: 22%;
            background: rgba(0,0,0,0.3);
            padding: 20px 30px;
            color: whitesmoke;
            border-radius: 15px;
        }

        input[type="text"], input[type="password"] {
            width: 100%;
            padding: 15px 0px;
            background: transparent;
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,0.04);
            outline: none;
            color: white;
            font-size: 12px;
        }

        input[type="submit"], button {
            background: #008F63;
            border: 0;
            width: 250px;
            height: 40px;
            border-radius: 3px;
            color: white;
            cursor: pointer;
            transition: background 0.3s ease-in-out;
            font-size: 20px;
            margin: 40px;
        }
    </style>
    <form method="post" asp-action="EditarTemass" asp-controller="Temas">
        <div>
            <h2>Editar Temas</h2><br />
            @*<label>Nombre Docente:</label><br />*@

            <input type="hidden" id="id" asp-for="Id" />

            <input type="text" id="Encabezado" asp-for="@Model.Encabezado" placeholder="@Model.Encabezado" />


            <br />


            <input type="submit" value="Agregar" />
            <button asp-action="Temas">Cancelar</button>
        </div>
    </form>
</body>
</html>