@model IEnumerable<Temas>
@{
    ViewData["Title"] = "Temas";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@*<html>
    <head>

        <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    </head>

    <body>
        <style>

        </style>
        <a style="text-align:start; float:left; margin-right:500px; margin-left:610px" asp-action="Agregar" asp-controller="Temas" class="btn btn-primary">Agregar Tema</a>

        <div class="card" style="width: 18rem;">
            @foreach (var item in Model)
            {
                <div class="card" style="width: 18rem;">

                    <div class="card-body">
                        <h5 class="card-title">@item.Encabezado</h5>

                        <a asp-action="Eliminar" asp-route-id="@item.Id" class="btn btn-primary" asp-controller="Temas">Eliminar Tema</a>
                        <a asp-action="EditarTemass" asp-route-id="@item.Id" class="btn btn-primary" asp-controller="Temas">Editar Tema</a>
                    </div>
                </div>
            }
        </div>
    </body>
    </html>*@

<html>
<head>
    <meta charset="utf-8" />

    <link href="~/Content/OtrosColores.css" rel="stylesheet" />
    <link href="~/Content/estilos.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="jquery-3.5.0.min"></script>
    <script src="util.js"></script>
    <script src="js/jquery-3.5.0.min.js"></script>
    <script src="js/util.js"></script>
    <title>Titulo</title>
    <script>
        $(document).ready(function () {
            $("#bars").click(function () {
                $("nav").toggleClass("open");
            });
        });

    </script>


</head>
<body>
    <nav class="menu">
        <div>
        </div>
        <ul>
            <li><a href="#"><i class="fa fa-address-card"></i> Mi Cuenta</a></li>
            <li><a href="#"><i class="fa fa-sign-out-alt"></i> Cerrar Sesión</a></li>
        </ul>

    </nav>
    <header>
        <a href="#" class="left"><i class="fa fa-bars"></i></a>
        <h1><b>ITESRC</b> Manuales Electronicos</h1>
        <div class="dropdown">
            <a href="#" class="right">
                <i class="fa fa-user"></i>
            </a>
            <ul>
                <li><a href="#"><i class="fa fa-key"></i>Cambiar Contraseña</a></li>
                <li><a href="#"><i class="fa fa-sign-out-alt"></i> Cerrar Sesión</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div>
            <h2 style=" float:right; "> <a href="#" style="color:white;"><i class="fas fa-plus-circle"></i></a></h2>
        </div>
        <section>

            <h2>
                Ciencias Naturales vol. 1
            </h2>

            <table>
                <thead>
                    <tr>
                        <th style="width: 1%">#</th>
                        <th>Nombre del tema</th>



                    </tr>
                </thead>
                <tbody>
                   
                    
                        <tr>
                            <td>1</td>
                            <td><a>Elementos de la natualeza</a></td>
                        </tr>
                    

                </tbody>
            </table>

        </section>

    </main>
</body>
</html>