@model IEnumerable<Temas>
@{
    ViewData["Title"] = "Temas";
    Layout = "~/Views/Shared/Layout.cshtml";
}
    <html>
    <head>

        <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    </head>

    <body>
        <style>

        </style>
        <a style="text-align:start; float:left; margin-right:500px; margin-left:610px" asp-action="Agregar" asp-controller="Temas" class="btn btn-primary">Agregar Tema</a>

        <div class="card" style="width: 18rem;">
            @foreach (var item in Model)
            {
                <div class="card" style="width: 18rem;">

                    <div class="card-body">
                        <h5 class="card-title">@item.Encabezado</h5>

                        <a asp-action="Eliminar" asp-route-id="@item.Id" class="btn btn-primary" asp-controller="Temas">Eliminar Tema</a>
                        <a asp-action="EditarTemass" asp-route-id="@item.Id" class="btn btn-primary" asp-controller="Temas">Editar Tema</a>
                    </div>
                </div>
            }
        </div>
    </body>
    </html>