@model IEnumerable<Temas>
@{
    ViewData["Title"] = "Temas";
    Layout = "~/Views/Shared/Layout.cshtml";
}
    <html>
    <head>
        <meta charset="utf-8" />
        <link href="~/Content/estilos.css" rel="stylesheet" />
        <link href="~/Content/grid.css" rel="stylesheet" />
        <link href="~/Content/StyleSheet.css" rel="stylesheet" />
        <link href="~/Content/OtrosColores.css" rel="stylesheet" />
        <!-- Para usar iconos con FontAwesome  -->
        <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>

        <link href="~/Content/sidebar.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <script src="jquery-3.5.0.min"></script>
        <script src="util.js"></script>


        <title>Temas</title>
    </head>
    <body>
       
        <nav class="menu" id="sidebar">
            <div>
            </div>
            <ul>
                <li><a asp-action="Docentes" asp-controller="Docentes"><i class="fa fa-address-card"></i>Docentes</a></li>
                <li><a asp-action="Alumnos" asp-controller="Alumnos"><i class="fa fa-address-card"></i>Alumnos</a></li>
                <li><a asp-action="Cursos" asp-controller="Cursos"><i class="fa fa-address-card"></i>Cursos</a></li>

            </ul>

        </nav>
        <header>
            <a href="#" class="toggle-btn"><i class="fa fa-bars"></i></a>
            <h1 style="color:white; width:auto; border-bottom:none; text-align:center;"><b>ITESRC</b> Manuales Electronicos</h1>
            <div class="dropdown">
                <a href="#" class="right">
                    <i class="fa fa-user"></i>
                </a>
                <ul>
                    <li><a style="text-decoration: none; color:black;" href="#"><i class="fa fa-key"></i>Cambiar Contraseña</a></li>
                    <li><a style="text-decoration: none; color:black;" href="#"><i class="fa fa-sign-out-alt"></i> Cerrar Sesión</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div>
                <h2 style=" float:right;  margin-top:15px; "> <a href="javascript:showModal('modalAgregar')" style="color:white;"><i class="fas fa-plus-circle"></i></a></h2>
            </div>
            <section>

                <div>
                    @foreach (var item in Model)
                    {
                        <h2 type="button" class="collapsible">
                            @item.Encabezado
                            <a href="javascript:showModal('modalEditar')"  style="margin-left:5px;"><i class="fas fa-edit"></i></a>
                            <a href="javascript:showModal('modalEliminar')" ><i class="fa fa-trash"></i></a>
                        </h2>

                        <div class="content">
                            <p><a href="#">Subtema</a></p>
                            <p><a href="#">Subtema</a></p>
                            <p><a href="#">Subtema</a></p>
                        </div>
                    }
                </div>

            </section>
            <div class="modal" id="modalAgregar">
                <section>
                    <h2>Agregar Tema</h2>

                    <form class="formAjax" method="post">
                        <label class="col-2">Nombre:</label>
                        <input class="col-10" type="text" required="required" />
                        <label class="col-12 error"></label>
                        <input type="button" asp-action="Temas" class="cancel" value="Cancelar" />
                        <input type="submit" value="Agregar" />
                    </form>
                </section>
            </div>
            <div class="modal" id="modalEditar">
                <section>
                    <h2>Agregar Tema</h2>

                    <form class="formAjax" method="post">
                        <label class="col-2">Nombre:</label>
                        <input class="col-10" type="text" required="required" />
                        <label class="col-12 error"></label>

                        <input type="button" asp-action="Temas" class="cancel" value="Cancelar" />
                        <input type="submit" value="Agregar" />
                    </form>
                </section>
            </div>
            <div class="modal" id="modalEliminar">
                <section>
                    <h2>Confirme la eliminación</h2>

                    <form class="formAjax" method="post">
                        <input id="deleteId" type="hidden" name="Id" />
                        <p>¿Esta seguro de eliminar?</p>


                        <label class="col-12 error"></label>

                        <input type="button" value="No" class="cancel" />
                        <input type="submit" value="Si" />
                    </form>
                </section>
            </div>
        </main>
        <script src="~/main.js">


        </script>
        <script src="~/temas.js"></script>
    </body>
    </html>