
@{
    ViewData["Title"] = "Subtemas";
}
    <html>
    <head>
        <meta charset="utf-8" />
        <link href="~/Content/estilos.css" rel="stylesheet" />
        <link href="~/Content/grid.css" rel="stylesheet" />
        <link href="~/Content/StyleSheet.css" rel="stylesheet" />
        <link href="~/Content/OtrosColores.css" rel="stylesheet" />
        <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <link href="~/Content/sidebar.css" rel="stylesheet" />
        <!-- Para usar iconos con FontAwesome  -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <script src="jquery-3.5.0.min"></script>
        <script src="util.js"></script>


        <title>Subtemas</title>
    </head>
    <body>
        <nav class="menu" id="sidebar">
            <div>
            </div>
            <ul>
                <li><a asp-action="Docentes" asp-controller="Docentes"><i class="fa fa-address-card"></i>Administrar Docentes</a></li>
                <li><a asp-action="Alumnos" asp-controller="Alumnos"><i class="fa fa-address-card"></i>Administrar Alumnos</a></li>
                <li><a asp-action="Cursos" asp-controller="Cursos"><i class="fas fa-book"></i>Administrar Cursos</a></li>
                <li><a><i class="fas fa-book"></i>Compartir Cursos</a></li>
                <li><a><i class="fa fa-address-card"></i>Enrrolar Alumnos</a></li>
            </ul>

        </nav>
        <header>
            <a href="#" class="toggle-btn"><i class="fa fa-bars"></i></a>
            <h1 style="color:white; width:auto; border-bottom:none; text-align:center;"><b>ITESRC</b> Manuales Electronicos</h1>
            <div class="dropdown">
                <a href="#" class="right">
                    <i class="fa fa-user"></i>
                </a>
                <ul>
                    <li><a style="text-decoration: none; color:black;" href="#"><i class="fa fa-key"></i>Cambiar Contraseña</a></li>
                    <li><a style="text-decoration: none; color:black;" href="#"><i class="fa fa-sign-out-alt"></i> Cerrar Sesión</a></li>
                </ul>
            </div>
        </header>
        <main class="mainsubtemas "id="contenido" style="margin-top:50px;">
            
            <section style=" background-color:whitesmoke;border:none; border-radius: 5px;padding:0;">

                <h2 style="text-align: center;background-color: #1CA7D0; border-radius: 5px;">Nombre del Subtema 
                <a href="javascript:showModal('modalAgregar')" style="color:white;"><i class="fas fa-plus"></i>Agregar</a>
                </h2>
                <div>
                    <div>
                        <label>Nombre</label>
                        <label style=" margin-left:65%;">Fecha</label>
                    </div>
                    <section style="border:none; padding:0; border-radius:5px;">
                        <div class="scrollable">
                            <table>
                                <thead>
                                    <tr>

                                        <th width="70%"></th>
                                        <th></th>
                                        <th width="1%"></th>
                                        <th width="1%"></th>



                                    </tr>
                                </thead>
                                <tbody>


                                    <tr>

                                        <td><a href="#"><i class="far fa-file-image"></i>Imagen.png</a></td>
                                        <td>15/02/20</td>
                                        <td>
                                            <a href=""><i class="fas fa-edit"></i></a>
                                        </td>
                                        <td>
                                            <a href=""><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td><a href="#"><i class="far fa-file-word"></i>texto.docx</a></td>
                                        <td>15/02/20</td>
                                        <td>
                                            <a href=""><i class="fas fa-edit"></i></a>
                                        </td>
                                        <td>
                                            <a href=""><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td><a href="#"><i class="far fa-file-video"></i>Video.mp4</a></td>
                                        <td>15/02/20</td>
                                        <td>
                                            <a href=""><i class="fas fa-edit"></i></a>
                                        </td>
                                        <td>
                                            <a href=""><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>




                    </section>
                </div>
                <section>
                    <h2 class="collapsible" style="text-align: center;background-color: #1CA7D0; border-radius: 5px;">
                        Referencias <a href="javascript:showModal('modalAgregar')" style="color:white;"><i class="fas fa-plus"></i>Agregar</a>
                    </h2>

                    <div>
                        <table>
                            <thead>
                                <tr>

                                    <th>Autor</th>
                                    <th>Año Publicacion</th>
                                    <th>Titulo</th>
                                    <th>ciudad</th>
                                    <th>Editorial</th>
                                    <th width="1%"></th>
                                    <th width="1%"></th>




                                </tr>
                            </thead>
                            <tbody>


                                <tr>

                                    <td><a href="#">Juan Perez</a></td>
                                    <td>15/02/20</td>
                                    <td>Calculo 1</td>
                                    <td>Campeche</td>
                                    <td>Editoral</td>
                                    <td>
                                        <a href=""><i class="fas fa-edit"></i></a>
                                    </td>
                                    <td>
                                        <a href=""><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>



                            </tbody>
                        </table>
                    </div>
                </section>
                <footer style="  border-radius: 5px;">

                    <h2 style="text-align:left;background-color: #1CA7D0; border-radius: 5px;">
                        <i class="fas fa-bars"></i>
                        Lista Recursos <a href="#" style="color:white;"><i class="fas fa-bars"></i>Referencias</a>
                    </h2>
                </footer>

            </section>

            <div class="modal" id="modalAgregar">
                <section>
                    <h2>Agregar Referencia</h2>

                    <form class="formAjax"  >
                        <label class="col-2">Autor:</label>
                        <input class="col-10" type="text" /><br />
                        <label class="col-2">Titulo:</label>
                        <input class="col-10" type="text" /><br />
                        <label class="col-2">Año:</label>
                        <input class="col-10" type="text" /><br />
                        <label class="col-2">Ciudad:</label>
                        <input class="col-10" type="text" /><br />
                        <label class="col-2">Editorial:</label>
                        <input class="col-10" type="text" /><br />
                        <a>
                            <input type="button" value="Cancelar" />
                        </a>
                        <input type="submit" value="Agregar" />
                    </form>
                </section>
            </div>
        </main>
        <script src="~/main.js"></script>
        <script src="~/temas.js"></script>
    </body>
    </html>

