
@{
    ViewData["Title"] = "Subtemas";
}
    <html>
    <head>
        <meta charset="utf-8" />
        <link href="~/Content/estilos.css" rel="stylesheet" />
        <link href="~/Content/grid.css" rel="stylesheet" />
        <link href="~/Content/StyleSheet.css" rel="stylesheet" />
        <link href="~/Content/OtrosColores.css" rel="stylesheet" />
        <!-- Para usar iconos con FontAwesome  -->
        <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>

        <link href="~/Content/sidebar.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <script src="jquery-3.5.0.min"></script>
        <script src="util.js"></script>


        <title>Temas</title>
    </head>
    <body>
        <nav class="menu" id="sidebar">
            <div>
            </div>
            <ul>
                <li><a asp-action="Docentes" asp-controller="Docentes"><i class="fa fa-address-card"></i>Docentes</a></li>
                <li><a asp-action="Alumnos" asp-controller="Alumnos"><i class="fa fa-address-card"></i>Alumnos</a></li>
                <li><a asp-action="Cursos" asp-controller="Cursos"><i class="fa fa-address-card"></i>Cursos</a></li>

            </ul>

        </nav>
        <header>
            <a href="#" class="toggle-btn"><i class="fa fa-bars"></i></a>
            <h1 style="color:white; width:auto; border-bottom:none; text-align:center;"><b>ITESRC</b> Manuales Electronicos</h1>
            <div class="dropdown">
                <a href="#" class="right">
                    <i class="fa fa-user"></i>
                </a>
                <ul>
                    <li><a style="text-decoration: none; color:black;" href="#"><i class="fa fa-key"></i>Cambiar Contraseña</a></li>
                    <li><a style="text-decoration: none; color:black;" href="#"><i class="fa fa-sign-out-alt"></i> Cerrar Sesión</a></li>
                </ul>
            </div>
        </header>
        <main style="margin:10px; margin-top:20px;">
            <div>

            </div>
            <section style="background-color: darkblue;border-radius: 5px;">

                <h2 style="text-align:left; ">
                    Nombre del Subtema <a href="#" style="color:white;"><i class="fas fa-plus-circle"></i></a>
                </h2>

                <section>
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 1%">#</th>
                                <th>Nombre</th>
                                <th>Fecha</th>
                                <th width="1%"></th>
                                <th width="1%"></th>



                            </tr>
                        </thead>
                        <tbody>


                            <tr>
                                <td>1</td>
                                <td><a href="#">Imagen.png</a></td>
                                <td>15/02/20</td>
                                <td>
                                    <a href=""><i class="fas fa-edit"></i></a>
                                </td>
                                <td>
                                    <a href=""><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><a href="#">Imagen.png</a></td>
                                <td>15/02/20</td>
                                <td>
                                    <a href=""><i class="fas fa-edit"></i></a>
                                </td>
                                <td>
                                    <a href=""><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><a href="#">Imagen.png</a></td>
                                <td>15/02/20</td>
                                <td>
                                    <a href=""><i class="fas fa-edit"></i></a>
                                </td>
                                <td>
                                    <a href=""><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </section>
                <div style="position:relative;">
                    <h2 style="text-align:left;">
                        <i class="fas fa-bars"></i>
                        Lista Recursos <a href="#" style="color:white;"><i class="fas fa-bars"></i>Referencias</a>
                    </h2>
                </div>
            </section>


        </main>
        <script src="~/main.js"></script>
        <script src="~/temas.js"></script>
    </body>
    </html>

