
header {
    background-color: #212226;
}

main h1 {
    color: #C2185B;
}

.infohoras h2, section h2, .ficha h2 {
    background-color: #434550;
    
}

.menu ul li {
    border-bottom: 1px solid #434550;
}


.menu {
    background: #434550;
}

.infohoras, .ficha {
    background-color: #E91E63;
    border: 1px solid #E91E63;
}

.opc a:hover {
    background-color: #E91E63;
}



form input[type=button], form input[type=submit], form a.btn, .pagination a.active {
    /*border-color: #E91E63;*/
    background-color: #008F63;
}
/* light-primary-color background: #F8BBD0 */
html, body {
    background: #2f313d;
}

form label, table tbody tr:hover, .pagination a:hover:not(.active) {
    background-color: #008F63;
}

/* text-primary-color color: #FFFFFF */
.menu p.name {
    color: #FFFFFF;
}
/* accent-color #FF4081 */
header .opc {
    background-color: #FF4081;
}

.menu ul li:hover {
    background: #2f313d;
}

header ul li:hover {
    background: #008F63;
}

/* primary-text-color #212121 */

form label, .pagination a {
    color: white;
}
/* secondary-text-color #d3d3d3 */

.menu p {
    color: lightgray;
}

/* divider-color #E17493 */

.menu ul li {
    border-top: 1px solid #434550;
}
header i:hover{
    color: #008F63;
}