@model Curso
@{
    ViewData["Title"] = "AgregarCurso";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/Views/Docentes/style.css" rel="stylesheet" />
</head>
<body>
    <section>
        <form method="post">
            <div>
                <h2>Agregar Curso</h2>
            </div>
            <input asp-for="Clave" placeholder="Clave" /><br />
            <input asp-for="Nombre" placeholder="Nombre Curso" /><br />
            <p>Fecha inicio</p>
            <input asp-for="FechaInicio" placeholder="Fecha" /><br />
            <p>Fecha final</p>
            <input asp-for="FechaFinal" placeholder="FechaF" /><br />
            <input asp-for="IdDocente" placeholder="Nombre docente" /><br />
            <select></select>

            <div class="botones">
                <input type="submit" value="Agregar" />
                <button>Cancelar</button>

            </div>
            <div>
                <p>@Html.ValidationSummary()</p>
            </div>
        </form>
    </section>
</body>
</html>

