
@{
    ViewData["Title"] = "Cursos";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/Views/Docentes/style.css" rel="stylesheet" />
</head>
<body>
    <div class="card" style="width: 18rem;">

        <div>
            <h1>Nombre del Curso</h1>
            <p>Subtema 1</p>
            <p> Subtema 2</p>
            <a>Eliminar Curso</a>
            <a>Editar Curso</a>
        </div>
    </div>
</body>
</html>

