@model ManualesElectronicosFInalFinal2.Models.ViewModelCurso
@{
    ViewData["Title"] = "Cursos";
    Layout = "~/Views/Shared/Layout.cshtml";
}

    <html>
    <head>
        <meta charset="utf-8" />
        <link href="~/Content/estilos.css" rel="stylesheet" />
        <link href="~/Content/OtrosColores.css" rel="stylesheet" />
        <link href="~/Content/Cursos.css" rel="stylesheet" />
        <!-- Para usar iconos con FontAwesome  -->
        <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <script src="jquery-3.5.0.min"></script>
        <script src="util.js"></script>
        <title>Docentes</title>
        <script>
            $(document).ready(function () {
                $("#bars").click(function () {
                    $("nav").toggleClass("open");
                });
            });
        </script>

    </head>
    <body>
        <nav class="menu">
            <div>
            </div>
            <ul>
                <li><a asp-action="Docentes" asp-controller="Docentes"><i class="fa fa-address-card"></i>Docentes</a></li>
                <li><a asp-action="Alumnos" asp-controller="Alumnos"><i class="fa fa-address-card"></i>Alumnos</a></li>

            </ul>

        </nav>
        <header>
            <a href="#" class="left"><i class="fa fa-bars"></i></a>
            <h1 style="color:white; width:auto; border-bottom:none; text-align:center;"><b>ITESRC</b> Manuales Electronicos</h1>
            <div class="dropdown">
                <a href="#" class="right">
                    <i class="fa fa-user"></i>
                </a>
                <ul>
                    <li><a style="text-decoration: none; color:black;" href="#"><i class="fa fa-key"></i>Cambiar Contraseña</a></li>
                    <li><a style="text-decoration: none; color:black;" href="#"><i class="fa fa-sign-out-alt"></i> Cerrar Sesión</a></li>
                </ul>
            </div>
        </header>
        <main>

            <h1>Cursos <a href="javascript:showModal('modalAgregar')" style="color:white; float:right;"><i class="fas fa-plus-circle"></i></a></h1>

            <div class="fichas">
                <div class="ficha">
                    <a href="#">
                        <h2>Nombre del curso</h2>
                        <h1>N. de C.</h1>


                    </a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fa fa-trash"></i></a>
                </div>

<div id="modalEditar" class="modal">
    <div>
        <h1>Editar Curso</h1>

        <form class="formAjax" method="post" action="~/Alumnos/Editar">
            @*<input id="editId" type="hidden" asp-for="Alumno.Id" />*@
            <label>Nombre:</label>
            <input id="editNombre" required asp-for="Curso.Nombre" type="text" />
            @*<label>Carrera:</label>*@
            @*<select id="editIdCarrera" required asp-for="Alumno.IdCarrera" asp-items="@(new SelectList(Model.Alumno, "Id", "Nombre"))">
            <option value="">Seleccione una clase</option>
        </select>*@

            <label>Fecha Inicio:</label>
            <input type="date" id="editInicio"  required asp-for="Curso.FechaInicio.Value.Date" value="Curso.FechaInicio"  />

            <label>Fecha Final:</label>
            <input   id="editFinal" required asp-for="Curso.FechaFinal" />

                    </a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fa fa-trash"></i></a>
                </div>

            </div>
            <div class="fichas">
                <div class="ficha">
                    <a href="#">
                        <h2>Nombre del curso</h2>
                        <h1>N. de C.</h1>


                    </a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fa fa-trash"></i></a>
                </div>

            </div>
        </main>
    </body>
    </html>