@inject DocenteService service
@model Alumnos
@{
    ViewData["Title"] = "Agregar";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<link href="~/Views/Docentes/style.css" rel="stylesheet" />
<section class="Agregar">
    <form method="post" asp-action="Agregar">
        <div class="caption">
            <h2>Agregar Alumnos</h2>
        </div>
        @*<label>Nombre:</label>*@
        <input asp-for="Nombre" type="text" placeholder="Nombre alumno" /><br />
        @*<label>Numero De Control</label>*@
        <input asp-for="NumeroControl" type="text" placeholder="Número de control" /><br />
        <select asp-for="IdCarrera" asp-items="@(new SelectList(service.GeTcarreritas(),"Id", "Nombre"))"></select>

        <div class="botones" style="padding:5px">
            <input type="submit" value="Agregar" />
            <button asp-action="Alumnos">Cancelar</button>

        </div>

        <div>
            <p>@Html.ValidationSummary()</p>
        </div>


    </form>

</section>

