@inject DocenteService service
@model Alumnos
@{
    ViewData["Title"] = "Agregar";
    Layout = "~/Views/Shared/Layout.cshtml";
}

    <head>
        <link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" />
    </head>
    <body>
        <style>
            body {
                background: #2f313d;
                font-family: sans-serif;
                font-size: 20px;
            }

            p {
                font-size: 20px;
                color: darkred;
            }

            h2 {
                color: whitesmoke;
                font-size: 30px;
                text-align: center;
                margin-bottom: 10px;
            }

            .Agregar {
                width: 50%;
                position: absolute;
                left: 22%;
                background: rgba(0,0,0,0.3);
                padding: 20px 30px;
                color: whitesmoke;
                border-radius: 15px;
            }

            input[type="text"], input[type="password"] {
                width: 100%;
                padding: 15px 0px;
                background: transparent;
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,0.04);
                outline: none;
                color: white;
                font-size: 12px;
            }

            input[type="submit"], button {
                background: #008F63;
                border: 0;
                width: 30%;
                height: 40px;
                border-radius: 3px;
                color: white;
                cursor: pointer;
                transition: background 0.3s ease-in-out;
                font-size: 20px;
                margin: 5px;
            }
        </style>
        <section class="Agregar">
            <form method="post" asp-action="Agregar">
                <div class="caption">
                    <h2>Agregar Alumnos</h2>
                </div>
                @*<label>Nombre:</label>*@
                <input asp-for="Nombre" type="text" placeholder="Nombre alumno" /><br />
                @*<label>Numero De Control</label>*@
                <input asp-for="NumeroControl" type="text" placeholder="Número de control" /><br />
                <select asp-for="IdCarrera" asp-items="@(new SelectList(service.GeTcarreritas(),"Id", "Nombre"))"></select>

                <div class="botones" style="padding:5px">
                    <input type="submit" value="Agregar" />
                    <button asp-action="Alumnos">Cancelar</button>

                </div>

                <div>
                    <p>@Html.ValidationSummary()</p>
                </div>


            </form>

        </section>
    </body>
