@model Docentes
@{
    ViewData["Title"] = "Agregar";
    Layout = "~/Views/Shared/Layout.cshtml";
}

    <section>
        <form asp-action="Agregar" method="post" name="Agregar">
            <div class="caption">
                <h2>Agregar Docente</h2>
            </div>
            <label>Nombre:</label>
            <input asp-for="Nombre.ToUpper()" type="text" /><br />
            <label>Numero De Control</label>
            <input asp-for="NumeroDeControl" type="text" /><br />
            <label>Carrera:</label>
            <input asp-for="Carrera" type="text" /><br />
            <label>Contraseña</label><br />
            <input asp-for="Contraseña" type="password"/>
            
            

            <div class="botones" style="padding:5px">
                <input type="submit" value="Agregar" />
                <button asp-action="Docentes">Cancelar</button>

            </div>

            <div>
                <p>@Html.ValidationSummary()</p>
            </div>


        </form>

       </section>
