@model ManualesElectronicosFInalFinal2.Models.DocentesViewModels.DocenteViewModel;
@{
    ViewData["Title"] = "Docentes";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@inject DocenteService service

<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Content/estilos.css" rel="stylesheet" />
    <link href="~/Content/grid.css" rel="stylesheet" />
    <link href="~/Content/OtrosColores.css" rel="stylesheet" />
    <!-- Para usar iconos con FontAwesome  -->
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="jquery-3.5.0.min"></script>
    <script src="util.js"></script>
    <title>Docentes</title>
    <script>
        $(document).ready(function () {
            $("#bars").click(function () {
                $("nav").toggleClass("open");
            });
        });
    </script>

</head>
<body>
    <nav class="menu">
        <div>
        </div>
        <ul>
            <li><a asp-action="Docentes" asp-controller="Docentes"><i class="fa fa-address-card"></i>Docentes</a></li>
            <li><a asp-action="Alumnos" asp-controller="Alumnos"><i class="fa fa-address-card"></i>Alumnos</a></li>
            
        </ul>

    </nav>
    <header>
        <a href="#" class="left"><i class="fa fa-bars"></i></a>
        <h1  style="color:white; width:auto; border-bottom:none; text-align:center;"><b>ITESRC</b> Manuales Electronicos</h1>
        <div class="dropdown">
            <a href="#" class="right">
                <i class="fa fa-user"></i>
            </a>
            <ul>
                <li><a style="text-decoration: none; color:black;" href="#"><i class="fa fa-key"></i>Cambiar Contraseña</a></li>
                <li><a style="text-decoration: none; color:black;" href="#"><i class="fa fa-sign-out-alt"></i> Cerrar Sesión</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div>
            <h2 style=" float:right; "> <a href="javascript:showModal('modalAgregar')"  style="color:white;"><i class="fas fa-user-plus"></i></a></h2>
        </div>
        <section>

            <h2>
                Lista Docentes
                <input type="search" placeholder="Filtro..." />
            </h2>
            <table>
                <thead>
                    <tr>

                        <th width="10%" class="center">Numero de control</th>

                        <th width="65%" class="center">Nombre Del Docente</th>

                        <th width="15%">Carrera</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.docentes)
                    {
                        <tr>

                            <td class="center">@item.NumeroDeControl</td>
                            <td class="center">@item.Nombre</td>
                            <td class="center">@item.IdCarreraNavigation.Nombre</td>
                            <td>
                                <a href="javascript:showModal('modalEditar')"><i class="fas fa-user-edit" ></i></a>
                            </td>
                            <td>
                                <a href="javascript:showModal('ModalEliminar')"><i class="fa fa-trash" ></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


            <div class="modal" id="modalAgregar">
                <section>
                    <h2>Agregar Docente</h2>

                    <form class="formAjax" method="post" action="~/Docentes/Agregar">
                        <label class="col-2">Nombre:</label>
                        <input class="col-10" type="text" required="required" />

                        <label class="col-2">Número de control:</label>
                        <input class="col-10" type="text" maxlength="15" required="required" />

                        <label class="col-2">curso:</label>
                        <input class="col-10" type="text" required="required" />

                        <label class="col-2">Carrera:</label>
                        <select class="col-10" required="required">
                            <option value="">Seleccione</option>
                        </select>

                        <label class="col-12 error">Error</label>

                        <input type="button" class="cancel" value="Cancelar" />
                        <input type="submit" value="Agregar" />
                    </form>
                </section>
            </div>
            <div class="modal" id="modalEditar">
                <section>
                    <h2>Editar Docente</h2>

                    <form action="#" method="post">
                        <label  class="col-2">Nombre:</label>
                        <input class="col-10" type="text" required="required" />

                        

                        <label class="col-2">curso:</label>
                        <input class="col-10" type="text" required="required" />

                        <label class="col-2">Carrera:</label>
                        <select class="col-10" required="required">
                            <option value="">Seleccione</option>
                        </select>

                        <label class="col-12 error">Error</label>

                        <input type="button" class="cancel" value="Cancelar" />
                        <input type="submit" value="Aceptar" />
                    </form>
                </section>
            </div>
            <div class="modal" id="ModalEliminar">
            <section>
                <h2>Confirme la eliminación</h2>

                <form class="formAjax"  action="#" method="post">
                    <p>¿Esta seguro de eliminar?</p>


                    <label class="col-12 error">ERROR</label>

                    <input type="button" value="No" class="cancel" />
                    <input type="submit" value="Si" />
                </form>

            </section>

        </div>
        </section>

    </main>
</body>
</html>



