@model IEnumerable<Docentes>
@{
    ViewData["Title"] = "Docentes";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 style="text-align:center">Docentes</h2>
<a style="text-align:start; float:left; margin-right:500px; margin-left:610px" asp-action="Agregar" asp-controller="Docentes" class="btn btn-primary">Agregar Docente</a>

@foreach (var item in Model)
{


    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">@item.Nombre</h5>
            <p class="card-text">@item.NumeroDeControl</p>
            <a>@item.Carrera</a>
        </div>
    </div>
}
