@model ManualesElectronicosFInalFinal2.Models.DocentesViewModels.DocenteViewModel;
@{
    ViewData["Title"] = "Docentes";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@inject DocenteService service
@*<head>
        <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>

    </head>
    <body>
        <div id="sidebar" class="sidebar">
            <a href="#" class="boton-cerrar" onclick="ocultar()">&times;</a>
            <ul class="menu">
                <li><a asp-action="Docentes" asp-controller="Docentes">Docentes</a></li>
                <li><a asp-action="Alumnos" asp-controller="Alumnos">Alumnos</a></li>
            </ul>
        </div>
        <a id="abrir" class="abrir-cerrar" href="javascript:void(0)" onclick="mostrar()"><img class="lateral" />Menú</a>

        <a href="javascript:showModal('modalAgregar')"><i class="fa fa-plus"></i> Agregar Alumno</a>
        <table>
            <tbody>
                <tr>

                    <th>Numero de control</th>

                    <th width="65%">Nombre Del Docente</th>

                    <th>Carrera</th>

                </tr>
                @foreach (var item in Model.docentes)
                {
                    <tr onclick="mostrarHerramietas()">

                        <td>@item.NumeroDeControl</td>

                        <td>@item.Nombre</td>
                        <td></td>

                    </tr>
                }
            </tbody>

        </table>
        <footer id="sidebar2" class="sidebar2">
            <a class="flotante" asp-action="Agregar" asp-controller="Docentes"><img src="~/images/add.png" />Agregar</a>
            <a asp-controller="Docentes" asp-action="EditarDocentes"><img src="~/Imagenes/user.png" />Editar</a>
            <a asp-controller="Docentes" asp-action="Eliminar"><img src="~/Imagenes/delete.png" />Eliminar</a>

        </footer>
        <div class="dropdown">
            <button class="dropbtn">D</button>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Salir</a>
            </div>
        </div>
        <script>
            function mostrar() {
                document.getElementById("sidebar").style.width = "300px";
                document.getElementById("contenido").style.marginLeft = "300px";
                document.getElementById("sidebar2").style.marginLeft = "300px";

            }

            function ocultar() {
                document.getElementById("sidebar").style.width = "0";
                document.getElementById("contenido").style.marginLeft = "0";

            }
            function mostrarHerramietas() {
                document.getElementById("sidebar2").style.backgroundColor = "#2f313d";
                document.getElementById("sidebar2").style.width = "100%";
                document.getElementById("sidebar2").style.height = "50px";
                document.getElementById("sidebar2").style.display = block;
                document.getElementById("sidebar2").style.position = absolute;
                document.getElementById("sidebar2").style.bottom = 0;
                document.getElementById("sidebar2").style.right = 0;

                document.getElementById("icono").style.height = "10px";


            }
        </script>
    </body>*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="css/estilos.css" rel="stylesheet" />
    <link href="~/Content/estilos.css" rel="stylesheet" />
    <link href="css/grid.css" rel="stylesheet" />
    <link href="~/Content/grid.css" rel="stylesheet" />
    <link href="css/colores.css" rel="stylesheet" />
    <link href="~/Content/colores.css" rel="stylesheet" />
    <!-- Para usar iconos con FontAwesome  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="jquery-3.5.0.min"></script>
    <script src="util.js"></script>
    <title>Titulo</title>
    <script>
        $(document).ready(function () {
            $("#bars").click(function () {
                $("nav").toggleClass("open");
            });
        });
    </script>

</head>
<body>
    <nav class="menu">
        <div>
        </div>
        <ul>
            <li><a href="#"><i class="fa fa-address-card"></i> Mi Cuenta</a></li>
            <li><a href="#"><i class="fa fa-sign-out-alt"></i> Cerrar Sesión</a></li>
        </ul>

    </nav>
    <header>
        <a href="#" class="left"><i class="fa fa-bars"></i></a>
        <h1><b>ITESRC</b> Manuales Electronicos</h1>
        <div class="dropdown">
            <a href="#" class="right">
                <i class="fa fa-user"></i>
            </a>
            <ul>
                <li><a href="#"><i class="fa fa-key"></i>Cambiar Contraseña</a></li>
                <li><a href="#"><i class="fa fa-sign-out-alt"></i> Cerrar Sesión</a></li>
            </ul>
        </div>
    </header>
    <main>

        <section>

            <h2>
                Lista Docentes
                <input type="search" placeholder="Filtro..." />
            </h2>
            <table>
                <thead>
                    <tr>
                        <th style="width: 1%" class="center">#</th>
                        <th width="10%" class="center">Numero de control</th>

                        <th width="65%" class="center">Nombre Del Docente</th>

                        <th width="15%">Carrera</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.docentes)
                    {
                        <tr>
                            <td>1</td>
                            <td class="center">@item.NumeroDeControl</td>
                            <td class="center">@item.Nombre</td>
                            <td></td>
                            <td>
                                <a asp-controller="Docentes" asp-action="EditarDocentes"><i class="fas fa-user-edit"></i></a>
                            </td>
                            <td>
                                <a asp-controller="Docentes" asp-action="Eliminar"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                    </tbody>
            </table>

            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a class="active" href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&raquo;</a>
            </div>
        </section>
    </main>
</body>
</html>



