<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <style>
        body {
            background: #2f313d;
            font-family: sans-serif;
            font-size: 20px;
        }

        table {
            margin-top: 100px;
            padding: 50px;
        }

        th {
            background-color: white;
        }

        td {
            background-color: cornflowerblue;
        }
    </style>
    <header></header>
    <nav></nav>
    <table>
        <tbody>
            <tr>

                <th>Numero de control</th>

                <th width="65%">Nombre Del Docente</th>

                <th>Carrera</th>

            </tr>

            <tr>

                <td>151F1568</td>

                <td>Juan Alejandro Rodriguez Hernandez</td>

                <td>Sistemas Computacionales</td>

            </tr>
            <tr>

                <td>151F1568</td>

                <td>Juan Rodriguez</td>

                <td>Industrial</td>

            </tr>
            <tr>

                <td>151F1568</td>

                <td>Juan Rodriguez</td>

                <td>Industrial</td>

            </tr>
        </tbody>
    </table>

</body>
</html>